.contact {
  margin: 0;
}
.contact-container {
  margin-top: 42px;
}
.contact-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-text {
  margin: 0;
  display: flex;
}

.contact-text p {
  font-weight: bold;
  font-size: 96px;
  letter-spacing: 0.02em;
  color: #fff;
}

.phone-container_m {
  display: none;
}

.star {
  width: 32px;
  height: 32px;
  background-image: url(../img/star.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.star-small {
  margin: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/starsmall.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 50%;
}

.star-left_up {
  margin-top: 96px;
}
.star-right_up {
  margin-left: 480px;
}
.star-left {
  margin-top: 11px;
  margin-right: 474px;
}
.star-right {
  margin-top: 16px;
}

@media (max-width: 1280px) {
  .contact-text p {
    display: none;
  }
}

/* @media (max-width: 1280px) {
  .phone-container_m {
    display: contents;
  }
.phone-block {
    width: 254px;
    height: 454px;
    background-image: url(../img/Blue-m.png);
    margin-top: 0;
  }
  .phone-image {
    width: 226px;
    height: 480px;
    background-image: url(../img/Mockup-m.png);
    margin-top: 52px;
  }

  .star-left {
    display: none;
  }
} */
