.forma {
  width: 100%;
  height: 458px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    92deg,
    #313134 -11.81%,
    #222224 23.9%,
    #12473c 60.63%,
    #292929 110.44%
  );
}

.forma-container {
  display: flex;
  justify-content: space-between;
}

.forma-block {
  margin: 0;
}

.forma-text {
  margin-top: 40px;
}

.forma-text p {
  font-weight: bold;
  font-size: 50px;
  line-height: 111%;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forma_ {
  margin: 0;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%;
}

.description_block {
  margin: 0;
  display: flex;
  flex-direction: column;
}

label {
  margin: 0;
  font-family: "Ruberoid";
  font-weight: 500;
  font-size: 17px;
  line-height: 154%;
  color: rgba(255, 255, 255, 0.7);
}

.field {
  width: 437px;
  height: 52px;
  border-radius: 41px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.button-forma_container {
  margin: 0;
  width: 437px;
  height: 52px;
  margin-top: 27px;
}

.button-forma {
  width: 184px;
  height: 52px;
  border-radius: 41px;
  border: 1.5px solid #2eecc5;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.button-forma p {
  font-size: 17px;
  line-height: 153.8%;
}

.custom-input {
  color: rgba(255, 255, 255, 0.7);
  font-family: Ruberoid;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%;
}

.phone-container {
  position: relative;
  margin: 0;
}

.phone-block {
  width: 269px;
  height: 528px;
  background-image: url(../img/iphone.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -29px;
}

.phone-image {
  margin: 0;
  margin-top: 18px;
  width: 240px;
  height: 516px;
  background-image: url(../img/Mockup.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.notification {
  position: absolute;
  border-radius: 29px;
  max-width: 213px;
  height: 58px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  margin: 0;
}

.notification-up {
  top: 76px;
  left: -125px;
}
.notification-down {
  top: 242px;
  right: -138px;
}

.notification-icon_block {
  min-width: 43px;
  height: 43px;
  margin: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-up {
  background-image: url(../img/Ellipse\ 4.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-down {
  background-image: url(../img/Ellipse\ 5.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.notification-image {
  position: absolute;
}

.image-phone {
  width: 25px;
  height: 24px;
  background-image: url(../img/Group4.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.notification-text_title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}
.notification-text_subtitle {
  font-size: 12px;
  line-height: 106%;
  color: rgba(255, 255, 255, 0.7);
}

.image-ball {
  width: 31px;
  height: 31px;
  background-image: url(../img/Group5.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1280px) {
  .forma-container {
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
  }

  .phone-container {
    display: flex;
  }

  .phone-block {
    background-image: url(../img/iPhone-m.png);
    margin-top: 184px;
    width: 254px;
    height: 492px;
  }

  .forma-text {
    margin-top: 30px;
  }

  .forma-text p {
    text-align: center;
    font-size: 37px;
  }

  .forma {
    height: 667px;
    margin-bottom: 459px;
  }

  .forma_ {
    flex-direction: column;
    align-items: center;
  }

  .field {
    width: 328px;
  }

  .button-forma_container {
    margin-top: 0;
    width: 184px;
  }

  .notification {
    max-width: 161px;
    height: 45px;
  }

  .notification-up {
    top: 287px;
    left: -12px;
  }

  .notification-down {
    top: 413px;
    right: -14px;
  }

  .notification-icon_block {
    min-width: 39px;
    height: 39px;
    margin: 4px;
  }

  .image-phone {
    width: 22px;
    height: 21px;
  }

  .image-ball {
    width: 29px;
    height: 29px;
  }

  .notification-text_title {
    font-size: 10px;
  }

  .notification-text_subtitle {
    font-size: 8px;
  }

  .notification-text {
    max-width: 112px;
  }
}
