.portfolio-container {
  margin: 0 auto;
}

.portfolio {
  min-height: 778px;
  position: relative;
}

.portfolio-container {
  margin-top: 132px;
}

.portfolio-block {
  position: relative;
  display: flex;
  gap: 148px;
  /* flex-shrink: 0; */
}

.portfolio-text {
  margin: 0;
}
.portfolio-text h4::after {
  content: "Наше портфолио";
}

.portfolio-description {
  width: 526px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 44px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 17px;
  line-height: 153.8%;
}

.button-portfolio {
  width: 269px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 49px;
  border: 1.5px solid #2eecc5;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 37px 0 rgba(46, 236, 197, 0.2);
}

.button-portfolio p {
  color: #fff;
  font-size: 17px;
  line-height: normal;
}

@media (max-width: 1280px) {
  .portfolio {
    min-height: 560px;
  }

  .portfolio-container {
    margin-top: 96px;
  }

  .portfolio-block {
    flex-direction: column;
  }

  .portfolio-text {
    text-align: center;
  }

  .portfolio-description {
    width: 100%;
    padding: 0 28px;
    margin-top: 12px;
    margin-bottom: 1px;
    font-size: 11px;
  }

  .button-portfolio {
    display: none;
  }

  .portfolio-block {
    gap: 42px;
  }

  .portfolio-text h4::after {
    content: "Портфолио";
  }
}
