.slider-sl {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* position: relative; */
}

.slides-sl {
  display: flex;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
}

.slide-sl {
  min-width: 100%;
  box-sizing: border-box;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
} 

.prev {
  left: 10px;
}
.next {
  right: 10px;
}
