.slider-tarif_container {
  position: relative;
  margin: 0 auto;
}

.slider-tarif {
  position: relative;
  width: 1084px;
  overflow: hidden;
  margin: 0;
}

.slides-tarif {
  margin: 0;
  display: flex;
  transition: transform 0.5s ease;
}

.slide-tarif {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  max-width: 370px;
  height: 570px;
  background: linear-gradient(155deg, #313134 0%, #292929 51.31%, #282828 100%);
  flex: 0 0 370px;
  transition: transform 0.5s ease-in-out;
}

.over {
  opacity: 0.5;
}

.slide-tarif_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-tarif {
  position: absolute;
  top: 44%;
  gap: 968px;
}

.slide-text_container {
  height: 500px;
  margin: 40px 21px 0 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide-tarif_title {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
}
.slide-tarif_subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 154%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.slide-tarif_price {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarif-price {
  font-weight: 400;
  font-size: 22px;
  line-height: 154%;
  color: #fff;
}

.tarif-price p:nth-child(2) {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.4);
}

.button-tarif {
  width: 172px;
}

.button-description_tarif {
  font-size: 17px;
}

.button-text_tarif {
  width: 134px;
  margin-left: 16px;
}

@media (max-width: 1280px) {
  .arrow-tarif {
    position: relative;
    margin-top: 36px;
    gap: 35px;
    justify-content: center;
  }

  .slide-tarif {
    max-width: 274px;
    height: 374px;
  }

  .slider-tarif {
    width: 874px;
  }

  .slides-tarif {
gap: 26px;
  }

  .slide-tarif_title {
    font-size: 25px;
  }

  .slide-tarif_subtitle {
    font-size: 12px;
  }

  .slide-text_container {
    height: 325px;
    margin: 27px 21px 0 21px;
  }

  .tarif-price {
    font-size: 16px;
  }

  .tarif-price p:nth-child(2) {
    font-size: 13px;
  }

  .button-tarif {
    width: 126px;
}

.button-description_tarif {
    font-size: 12px;
}

.slide-tarif img {
  transform: scale(0.7);
}
}
