.slider-tarif_container {
  position: relative;
  margin: 0 auto;
}

.slider-tarif {
  position: relative;
  width: 1100px;
  overflow: hidden;
  margin: 0;
}

.slides-tarif {
  margin: 0;
  display: flex;
  transition: transform 0.5s ease;
}

.slide-tarif {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 32px;
  min-width: 370px;
  height: 570px;
  background: linear-gradient(155deg, #313134 0%, #292929 51.31%, #282828 100%);
}

.over {
  mask-image: url("../img/over.svg");
  mask-position: center;
  mask-size: 100%;
  mask-repeat: no-repeat;
  pointer-events: none;
}

.slide-tarif_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-tarif {
  position: absolute;
  top: 42%;
  gap: 968px;
}

.slide-text_container {
  height: 500px;
  margin: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide-tarif_title {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  margin-bottom: 13px;
}
.slide-tarif_subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 154%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.slide-tarif_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarif-price {
  font-weight: 400;
  font-size: 22px;
  line-height: 154%;
  color: #fff;
}

.button-price {
  border: 1.5px solid #2eecc5;
  border-radius: 41px;
  width: 172px;
  height: 57px;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
  background: rgba(46, 236, 197, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1280px) {


  .arrow-tarif {
    position: relative;
    margin-top: 43px;
    gap: 35px;
    justify-content: center;
  }

  .slide-tarif {
    width: 274px;
    height: 374px;
  }
}
