.tarif {
  min-height: 984px;
  position: relative;
}

.tarif-container {
  margin-top: 46px;
  /* margin-bottom: 214px; */
}

.tarif-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.tarif-text {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
